.tablify {
	border-collapse: collapse;
}
.tablify td, .tablify th {
	border: 1px solid #ababab;
	font-size: 14px;
	font-family: arial;
	padding: 10px;
	text-align: left;
}
.tablify th {
	background: linear-gradient(#efefef, #ababab);
}
.tablify tr.actions td {
	background: linear-gradient(#efefef, #ababab);
	padding: 3px;
}
.tablify tbody tr:nth-child(even) td {
	background-color: #efefef;
}
.tablify tbody tr:nth-child(odd) td {
	background-color: #fff;
}
.tablify tbody tr.selected td {
	background-color: #ababab;
	color: #fff;
}
.tablify tbody tr.moving td {
	background-color: #ababab;
}