.tablify {
	border-collapse: collapse;
}
.tablify td, .tablify th {
	border: 1px solid #ababab;
	font-size: 14px;
	font-family: arial;
	padding: 10px;
	text-align: left;
}
.tablify thead th {
	background-color: #ccf;
	cursor: s-resize;
}
.tablify thead th a {
	display: inline-block;
	float: right;
	height: 10px;
	margin: 3px 0 0 10px;
	width: 10px;
}
.tablify thead th.ascending a {
	border-bottom: 10px solid black;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	height: 0; 
	width: 0; 
}
.tablify thead th.descending a {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
	height: 0; 
	width: 0; 
}
.tablify tr.actions td {
	background: linear-gradient(#efefef, #ababab);
	padding: 3px;
}
.tablify tbody tr td:first-child {
	background-color: #ccf;
}
.tablify tbody tr td:first-child {
	cursor: e-resize;
}
.tablify tbody tr td:not(:first-child) {
	cursor: default;
}
.tablify tbody tr:nth-child(even) td:not(:first-child) {
	background-color: #efefef;
}
.tablify tbody tr:nth-child(odd) td:not(:first-child) {
	background-color: #fff;
}
.tablify tbody tr.selected td {
	background-color: #fc9 !important;
}
.tablify tbody td.selected {
	background-color: #fc9 !important;
}
.tablify tbody tr.moving td:not(:first-child) {
	background-color: #ababab;
}
.tablify tbody td.editing {
	background-color: #fc9 !important;
}
.tablify tbody td.hovered, .tablify thead th.hovered {
	background-color: #fc9 !important;
}